.hero-container {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 2vw;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    @media (max-width: 700px) {
        margin-top: 200px;
    }
    &__text {
        p {
            color: white;
            font-family: 'oggRoman';
            font-weight: 300;
            line-height: 114%;
            padding-bottom: 10px;
            font-size: calc(24px + 18*(100vw - 320px)/1600);
            @media (max-width: 800px) {
                margin-right: 0;
            }
            @media (max-width: 700px) {
                font-size: calc(24px + 18*(100vw - 320px)/1600);
            }
        }
    }
}