//FONTS
@font-face {
    font-family: 'oggRoman';
    src: url('../fonts/Ogg\ Roman.ttf'),
}
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.otf')
}
@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.otf')
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: #141414;
    overflow-x: hidden;
}


//COLORS
$main-text-color: #F8F8F8;
$text-gray-color: #484848;
$text-lightgray-color: #686868;

//IMPORTS
@import './_loader';
@import './_nav';
@import './_hero';
@import './_skills';
@import './_projects';
@import './_designs';
@import './_modal';
@import './_contact';
@import './_footer';